<% @collectionobjects.each_slice(2) do |records| %>
  <% records.each do |record| %>
  <div class="col-md-6 records-row">
    <div class="row record-details">
      <div class="col-md-6">
        <dl>
          <dt><%= t 'collectionobject.object_number' %></dt>
          <dd><%= link_to record.object_number, record_path(record) %></dd>
          <dt><%= t 'collectionobject.title' %></dt>
          <dd><%= record.title %></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <%= link_to image_tag(record.thumbnail.url, class: 'thumbnail pull-right'), record_path(record) %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>