<div class="col-md-12 record">
  <%= render 'site/flash' %>
  <div class="row record-image">
    <div class="col-md-6 col-md-push-6">
      <% if @collectionobject.has_remote_image? %>
        <a href="<%= fullsize_record_path(@collectionobject) %>?from_page=<%= @page %>">
          <%= render partial: 'image', locals: { img_class: "pull-right img-responsive img-thumbnail", size: :small } %>
        </a>
      <% else %>
        <%= image_tag @collectionobject.thumbnail(:small), class: 'pull-right img-responsive img-thumbnail' %>
      <% end %>
    </div>
    <div class="col-md-6 col-md-pull-6 record-detail">
      <h1><%= @collectionobject.object_number %><%= link_to t('ui.refresh'), { action: "update", id: @collectionobject.slug }, method: :put, class: "btn btn-info refresh" %></h1>
      <h3><%= t('collectionobject.page_title') %></h3>
      <dl class="dl-horizontal record-attributes">
        <% @viewable_fields.each do |attribute| %>
          <dt><%= t "collectionobject.#{attribute}" %></dt>
          <dd><%= field_to_s(@collectionobject, attribute) %></dd>
        <% end %>
      </dl>
      <%= button_to t('ui.return'), root_path, method: 'get', class: "btn btn-primary", params: { page: @page } %>
    </div>
  </div>
</div>