<!DOCTYPE html>
<html>
<head>
  <title>CollectionspaceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header class="header">
      <%= render 'site/header' %>
    </header>

    <div>
      <%= yield %>
    </div>

    <footer class="footer">
      <%= render 'site/footer' %>
    </footer>
  </div>
</body>
</html>